version: '3.8'
services:
  prometheus:
    image: prom/prometheus
    restart: unless-stopped
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus       
    ports:
      - "9090:9090"
  grafana:
    image: grafana/grafana
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=${GF_SECURITY_ADMIN_PASSWORD}  # Получаем из .env файла
  node_exporter:
    image: prom/node-exporter
    restart: unless-stopped
    ports:
      - "9100:9100"
volumes:
  prometheus_data: {}
  grafana_data: {}
